[project]
name = "mysterymovieclub"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "django>=6.0",
]

[dependency-groups]
dev = [
    "pre-commit>=4.5.1",
]
