{% extends "base.html" %}

{% block title %}
    {{ series.name }}
{% endblock title %}
{% block content %}
    <h1>{{ series.name }}</h1>
    <div class="card">
        <div class="card-header">Movies in this Series</div>
        <ul class="list-group list-group-flush">
            {% for movie in series.movies.all %}
                <li class="list-group-item">
                    <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a> ({{ movie.release_year }})
                </li>
            {% empty %}
                <li class="list-group-item">No movies found in this series.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
