{% extends "base.html" %}

{% load static %}

{% block title %}
    {{ series.name }}
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'movies/css/taxonomy_detail.css' %}" />
{% endblock extra_css %}
{% block content %}
    <div class="row mb-4">
        <div class="col">
            <h1>{{ series.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mb-4">
            {% include "movies/includes/taxonomy_chart.html" %}

        </div>
        <div class="col-lg-4 mb-4">
            {% include "movies/includes/taxonomy_list.html" with object=series list_title="Movies in this Series" %}

        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"
            integrity="jb8JQMbMoBUzgWatfe6COACi2ljcDdZQ2OxczGA3bGNeWe+6DChMTBJemed7ZnvJ"
            crossorigin="anonymous"></script>
    {{ plot_data|json_script:"plot-data" }}
    {{ avg_difficulty|json_script:"avg-difficulty" }}
    {{ avg_quality|json_script:"avg-quality" }}
    <script src="{% static 'movies/js/taxonomy_detail.js' %}"></script>
{% endblock extra_js %}
